.row {
  border: 1px solid rgb(112, 200, 184);
  position: relative;
  margin-left: 0;
  margin-right: 0;
  height: auto;
  zoom: 1;
  display: block;
  box-sizing: border-box;
  
  &:before,
  &:after {
    content: '';
    display: table;
  }
  
  &:after {
    clear: both;
  }
}
